* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: #5d5d611c;
  color: rgb(6, 9, 11);
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  margin-bottom: 1rem;
  border: oldlace;
}

.section {
  scroll-margin-top: 80px;
}